BGImg   BITMAP	".\\assets\\background.bmp"

Slime0	BITMAP	".\\assets\\slime0.bmp"
Slime1	BITMAP  ".\\assets\\slime1.bmp"
Slime2	BITMAP  ".\\assets\\slime2.bmp"
Slime3	BITMAP  ".\\assets\\slime3.bmp"

cursorFile      CURSOR  ".\\assets\\sword knight text select.cur"

HeartFullImg    BITMAP  ".\\assets\\HeartFull.bmp"
HeartEmptyImg    BITMAP  ".\\assets\\HeartEmpty.bmp"